body {
    background-color: #888;
    margin: 0px auto;
    font-family: calibri;
}

.header-two {
    background-color: #555;
    position: fixed;
    display: block;
    top: 0;
    margin: 0px auto 10px;
    text-align: center;
    width: 100%;
    padding: 10px 0px;

}

.header-two .side.bar,
.header-two .middle.bar {
    display: block;
    color: white;
    padding: 0px 5px;
}

.header-two .side.bar a,
.header-two .middle.bar a {
    color: #eee;
    margin: 0px 5px;
}

.heading-two {
    margin: 10px auto;
    width: fit-content;
    text-align: center;
    color: #eee;
    font-size: 24pt;
}